@include desktop-small {
	.services {
		&__it-wrapper {
			padding: 52px 0 80px;
		}

		&__text {
			@include textProperties(21px, 1.42);
		}

		&__directions-wrapper {
			padding: 40px 0 80px;
		}

		&__title {
			font-size: 24px;
			margin-bottom: 20px;
		}

		&__list {
			max-width: 500px;
		}

		&__list {
			li:last-child {
				margin: 0;
			}
		}
	}
}
