@include desktop-small {
	.team {
		.container {
			padding-top: 40px;
		}

		&__items-wrapper {
			padding: 0;
		}

		&__card {
			display: flex;
		}

		&__pointer {
			padding: 40px 0 0 40px;
		}

		h2 {
			padding: 0 0 20px 40px;
			@include textProperties(42px, 1.19);
		}

		&__member {
			margin-left: 40px;
		}

		&__member-img {
			display: block;
		}

		&__member-img-sm {
			display: none;
		}

		&__name:hover {
			color: #f0145a;
		}
	}
}
