@import "./../index";

@import "./../components/header";
@import "./../components/services";
@import "./../components/successful_cases";
@import "./../components/partners";
@import "./../components/publications";
@import "./../components/button";
@import "./../components/footer";

main {
  .header-services-bground {
    @extend %darkBground;
    border-radius: 0px 0px 12px 12px;
    position: relative;
  }

  .header-services-bground::before {
    content: "";
    @extend %underlineDarkBground-1;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: -20px;
  }

  .header-services-bground::after {
    content: "";
    @extend %underlineDarkBground-2;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -20px;
    left: -40px;
  }
}

.logo {
  &__title {
    @include textProperties(38px, 1.18);
    max-width: 449px;
    margin: 119px 0 263px;
  }

  &__img {
    height: 555px;
    background-image: url(./../images/hlegals_symbol.svg);
    background-repeat: no-repeat;
    background-position: top 83px left 50%;
  }

  &__scroll-container {
    width: 100%;
    height: 200px;
    position: absolute;
    padding-bottom: 20px;
    bottom: -1px;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(50, 50, 100, 0) 16.67%,
      #323264 100%
    );
  }

  &__scroll {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

@include desktop-small {
  .logo {
    .container-fluid {
      height: 100vh;
    }

    &__title {
      max-width: 546px;
      margin: 243px 0 0;
    }

    &__img {
      height: 644px;
      background-image: url(./../images/hlegals_symbol.svg),
        url(./../images/logo_bground.svg);
      background-repeat: no-repeat, no-repeat;
      background-position: top 185px left 50%, top 65px left 50%;
    }

    &__scroll-container {
      bottom: 545px;
      left: 0;
    }
  }
}

.rules {
  .carousel-indicators {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .carousel-indicators [data-bs-target] {
    margin: 20px 14px 45px 0;
    @extend %carouselIndicator;
  }

  &__items-wrapper {
    background-color: transparent;
    margin-top: 40px;
  }

  &__slogan {
    @include textProperties(14px, 1.21);
    letter-spacing: 1px;
    @extend %textRedGradientReverse;
  }

  &__title {
    @include textProperties(22px, 1.18);
    padding: 10px 0 15px;
  }

  .nav-tabs {
    border-bottom: none;
    border-right: 4px solid #e6e6f0;
  }
}

@include desktop-small {
  .rules {
    &__slogans-wrapper {
      padding-bottom: 80px;
      max-width: 1207px;
    }

    &__title {
      @include textProperties(32px, 1.18);
      padding: 0 0 20px;
    }

    &__text {
      @include textProperties(21px, 1.42);
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      border: none;
      background: linear-gradient(90.13deg, #ef8080 -69.16%, #f0145a 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .nav-tabs .nav-link {
      background: transparent;
      border: none;
      max-width: 527px;
    }

    .nav-link {
      padding: 0 40px 20px 0;
      color: $gray;
      @include textProperties(42px, 1.19);
    }

    .tab-content {
      padding: 51px 0 0 40px;
    }
  }
}

.team {
  .container {
    padding-top: 20px;
  }

  .carousel-indicators {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .carousel-indicators [data-bs-target] {
    margin: 15px 14px 30px 0;
    @extend %carouselIndicator;
  }

  &__items-wrapper {
    background-color: $bgroundGray;
    border-radius: 12px;
    margin-top: 20px;
    padding: 20px 3px 20px 20px;
  }

  h2 {
    padding: 0 0 10px;
  }

  &__pointer {
    @include textProperties(14px, 1.21);
    color: $blue;
  }

  &__member {
    margin-left: 10px;
  }

  &__name {
    line-height: 1.16;
    margin-bottom: 5px;
  }

  &__position {
    @include textProperties(22px, 1.38);
  }

  &__member-img {
    display: none;
  }
}

@include desktop-small {
  .team {
    .container {
      padding-top: 40px;
    }

    &__items-wrapper {
      padding: 0;
    }

    &__card {
      display: flex;
    }

    &__pointer {
      padding: 40px 0 0 40px;
    }

    h2 {
      padding: 0 0 20px 40px;
      @include textProperties(42px, 1.19);
    }

    &__member {
      margin-left: 40px;
    }

    &__member-img {
      display: block;
    }

    &__member-img-sm {
      display: none;
    }

    &__name:hover {
      color: #f0145a;
    }
  }
}
