.header-services-bground {
	@extend %darkBground;
	position: relative;
}

.header-services-bground::before {
	@extend %underlineDarkBground-1;
}

.header-services-bground::after {
	@extend %underlineDarkBground-2;
}


.logo {
	.container-fluid {
		height: 100vh;
	}

	&__title {
		@include textProperties(38px, 1.18);
		max-width: 449px;
		margin: 119px 0 263px;
		background: #ffffff; 
		-webkit-background-clip: text;
	}

	&__img {
		height: 555px;
		background-image: url(./../images/hlegals_symbol.svg);
		background-repeat: no-repeat;
		background-position: top 83px left 50%;
	}

	&__scroll-container {
		width: 100%;
		height: 200px;
		position: absolute;
		padding-bottom: 20px;
		bottom: 95px;
		left: 0;
		background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
	}

	&__scroll {
		background-color: transparent;
		border: none;
		padding: 0;
	}
}
