.services {
	&__pointer {
		@include textProperties(14px, 1.21);
		letter-spacing: 1px;
		margin-bottom: 3px;
	}

	h2 {
		@include textProperties(38px, 1.18);
		@extend %textRedGradient;
		font-weight: 700;
		margin-bottom: 20px;
	}

	h3 {
		color: $blue;
		@include textProperties(18px, 1.16); 
		font-weight: 500;
	}

	&__item-text {
		color: $white;
		@include textProperties(16px, 1.38);
		padding: 10px 0 40px;
	}

	&__icon {
		max-width: 64px;
		margin-right: 10px;
	}
}