$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$gray: #B3B3BA;
$bgroundGray: #F5F5FA;
$blue: #24A3FF;
$pink: #F0145A;
$darkViolet: #686887;
$darkBlue: #323264;